@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 15px;
}

.postwrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

textarea {
  height: 150px;
}
